<footer>
    <p>Todos os direitos reservados para <a target="_blank" href="https://www.linkedin.com/in/vin%C3%ADcius-monteiro-a150981b8/">Vinícius Monteiro</a> &copy</p>
    <p>Dados retirados de <a href="https://www.pokemon.com/br/pokedex/" target="_blank">https://www.pokemon.com/br/pokedex/</a></p>
</footer>