<nav>
    <ul>
        <img src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Images.png" alt="">
        <li><a href="/"><h1>Pokédex</h1></a></li>
        <li><a href="/signup">Cadastro</a></li>
        <li><a href="#cards">Lista de pokemons</a></li>
    </ul>
</nav>